testing/
static/files/
.idea/discord.xml
.pytest_cache
app.log
prod_todo.txt
.idea/
REDIS_DATA
.idea

*.pyc
.env


.ideavimrc

static/datasets/
truckconfig.json

.idea/

static/datasets/

.ideavimrc

REDIS_DATA/appendonlydir/

REDIS_DATA/

app.log
