pytest~=8.0.0
flask~=3.0.2
jsonpickle~=3.0.2
pandas~=2.2.0
werkzeug~=3.0.1
redis~=5.0.1
matplotlib~=3.8.2
numpy~=1.26.4
seaborn~=0.13.2
tensorflow>=2.15.0
scikit-learn~=1.4.0
textblob~=0.17.1
requests~=2.31.0
rq~=1.15.1
flask_cors
fakeredis
flask_talisman
class_registry