flask~=3.1.0
rq~=2.0.0
keras~=3.6.0
tensorflow~=2.18.0
flask-cors~=5.0.0
pandas~=2.2.3
class-registry~=2.1.2
jsonpickle~=4.0.0
matplotlib~=3.9.2
scikit-learn~=1.5.2
pydot~=3.0.2
graphviz~=0.20.3
fakeredis[json]~=2.26.2